:root {
    --cor-secundaria: #8E2424;
    --cor-fonte: #667085;
    --cor-fonte-botao-cadastrar: white;
    
}

*{
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 1%;  
}

.logo{
    padding: 1% 0%;
    margin: 0 2% 0 5%;
}

.homebar{
    color: var(--cor-fonte);
    margin: 0 27% 0 0;
    min-width: 25%;
    white-space: nowrap;
}

.loginbar {
    margin: 0 5%;
    min-width: max-content;
}



.homebar__link {
    color: var(--cor-fonte-navbar);
    margin: 0 1em;
}



button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--cor-fonte);
    font-size: 0.9rem;
}

button#signUp {
    color: var(--cor-fonte-botao-cadastrar);
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    
}


.secaoUm {
    display: flexbox;
    text-align: center;   
    padding: 7% 25%;
    
}

.subtitulo__secaoUm {
    color: var(--cor-secundaria)
}

.titulo__secaoUm {
    margin: 1em 0;
}

.texto__secaoUm {
    color: var(--cor-fonte);
}


.secaoDois {
    display: flex;
    margin: 5%;
}

.metrica {
    display: flexbox;
    padding: 0% 0% 0 3%;
}

.titulo__metrica {
    color: var(--cor-secundaria);
    padding-bottom: 0.2em;
    font-weight: 600;
    font-size: 60px;
}

.subtitulo__metrica {
    white-space: nowrap;
    padding-bottom: 0.5em;
    font-weight: 500;
    font-size: 18px;
}

.texto__metrica {
    color: var(--cor-fonte);
    font-weight: 400;
    font-size: 16px;
}

.secaoTres {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
}

.container__secaoTres {
    max-width: 50vw;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.subtitulo__secaoTres {
    color: var(--cor-secundaria);
    font-size: 14px;
    font-weight: 500;
    margin: 0% 38% 2% 38%;
    border: 2px transparent var(--cor-secundaria);
    border-radius: 16px;
    stroke: #8E2424;
    mix-blend-mode: multiply;
    background: rgba(142, 36, 36, 0.05);
}

.titulo__secaoTres {
    font-size: 36px;
    font-weight: 600;
    padding: 1%;
    white-space: nowrap;
}

.texto__secaoTres {
    color: var(--cor-fonte);
    padding:1% 0% 10% 0%;
}

.imagem__secaoTres {
    width: 90vw;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.design {
    display: flex;
    justify-content: start;
}

.container__Product {
    border: 1px solid grey;
    border-radius: 16px;
    padding: 1.2em 15em 5em 1.2em;
    font-size: 18px;
    font-weight: 500;
}